extends header
block messages
  if currentUser
    .welcome-back
      h3 Welcome back #{currentUser.firstname}!
      form(action='/message/new' method='GET')
        button.btn.btn-inverse.btn-reverse Create a message
  .all-messages
    h1 All Messages
    if Array.from(messages).length
      for message in messages 
        .message
          h2 #{message.title}
          .content
            p #{message.content}
            if currentUser && currentUser.isAdmin
              form(action=('/message/'+message._id+'/delete') method='GET')
                button.btn.btn-inverse.btn-delete Delete
          if currentUser && currentUser.isMember
            .details
              p #{message.author.username}
              p #{message.timestamp}
    else
      h2 No messages.